body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #428944;
}

h1, h2, h3 {
  font-weight: 700; /* Bold weight for headings */
  color: rgb(244, 244, 244)
}


p, label, button {
  font-weight: 400; /* Regular weight for paragraphs, labels, and buttons */
  color: rgb(244, 244, 244)
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
